# Dependencies
node_modules/

# Environment
.env
.env.local

# Build output
dist/
build/

# Uploads (user content)
server/uploads/*
!server/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# config
server\config\init-db.sql

README.md
Requirement.md
interview.md
interview2.md
